/*this is how to comment*/
@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Mukta:wght@200&display=swap');

body {
    font-family: 'Island Moments', cursive;
    font-family: 'Mukta', sans-serif;
}

.welcomingText{
    font-family: Helvetica;
    color: white;
}

.welcomeArea{
    background-color:black;
}

button:hover{
    background-color:springgreen;
    outline-style: auto;
    box-shadow: 0 0 0 2px #5a01a7;
    transition: 0.2s;
}

.genderButtons{
    margin-top: 20px;
}

.burgerMenu{
    margin-left: 300px;
}

.separateArea{
    border: 2px solid orange;
    margin: 10px;
    padding-left: 40px;

}


#customerDiv{
    background-color: white;
    color: black    ;
}

#wholediv{
}


#longImage{
    width: 100%;
    opacity: 40%;
    height: 300px;
}

#longImagediv{
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 80px;
}

.box{
    padding: 20px;
}

.fire{
    grid-column: 1;
}

.dank{
    grid-column: 2;
}

.chickenburger{
    grid-column: 3;
}

.centerLongImageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}